<div class="input-group-append">
    <form action="/Location/update/{{this.id}}?_method=PUT" method="POST">
        <input type="hidden" name="approve" value="true">
        <button class="approve" data-id="{{id}}" data-approve="{{approved}}">Discard</button>
    </form>
</div>