<form class="col s12">
    <div class="row">
        <div class="input-field col s12">
            <input id="admin_user_name" type="text" required>
            <label for="admin_user_name">User Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="admin_password_login" type="password" required>
            <label for="admin_password_login">Password</label>
        </div>
    </div>
</form>
