 {{!-- For the cards: will need an each statement to loop through the desitnation in Locations Table --}}
 
 <div class="row col s12">
    <div class="card sticky-action col s12 m6" style="margin:20px; width:300px">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="/assets/img/cat.jpg">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Kitten<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Kitten<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div>    
    <div class="card sticky-action col s12 m6" style="margin:20px; width:300px">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="/assets/img/puppy.jpg">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Puppy<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Puppy<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div>   
</div>  