<div class="row">
    <div class="col-sm-6 col-offset-sm-3">
        <br>
        <br>
        {{!-- Only requirement of this code is the a href=/auth/google. Anything else can be stylized --}}
        <a href="/auth/google"><i class="fab fa-google"></i> Google</a>
    </div>
</div>