body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.container {
  width: 100vw;
}

a:hover {
  background-color: rgba(0,0,0,0.1);
}

#logo {
  font-size: 35px;
  margin: 0px;
}

.page-footer {
  padding-top: 0px;
}

.page-footer .footer-copyright {
  background-color: #ee6e73;
}